/* <input type="number">のスピンボタン（右のボタン）を消去 */
/* Chrome、Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

div {
  display: inline-block;
}
