/* <input type="number">のスピンボタン（右のボタン）を消去 */
/* Chrome、Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

span {
  margin: 0;
  padding: 0;
  line-height: 50%;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-spin {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
